[Unit]
Description=saraba1st forum score auto increate bash script

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/lingao/Downloads/sara.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target


