[Unit]
Description=saraba1st forum score auto increate bash script

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/lingao/.config/saraba1st/sara.sh
Restart=on-failure

[Install]
WantedBy=default.target


